* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

.container {
    margin: auto;
    width: 1200px;
}

.container > ul {
    display: flex;
}

.container > ul > li {
    flex: 1;
}

.score_board > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game_area {
    height: 800px;
}

.game_title {
    text-align: center;
}

.game_play {
    text-align: center;
}

.game_play > ul {
    display: flex;
    justify-content: center;
}

.game_play > ul > li {
    width: 35px;
    height: 35px;
    /* border: 1px solid gray; */
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.game_play > ul:first-child li {
    border-top: 1px solid gray;
}

.game_play > ul li:first-child {
    border-left: 1px solid gray;
}
