* {
    margin: 0px;
    padding: 0px;
    color: #000;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: #f1f2f3;
}

h4 {
    font-size: 48px;
}

.contents1 {
    font-size: 20px;
    font-weight: lighter;
}
.result {
    font-size: 24px;
}

.intro_bg {
    position: relative;
    background-image: url("img/intro.jpg");
    background-size: cover;
    width: 100%;
    height: 718px;
    
}

.header {
    display: flex;
    align-items: center;
    width: 1280px;
    margin: auto;
    height: 84px;
}

.search_area {
    width: 300px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

.search_area > form > input {
    border: none;
    width: 250px;
    height: 40px;
    background-color: transparent;
    padding-left: 10px;
}

.search_area > form > input:focus {
    outline: none;
}

.search_area > form > span {
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 86px;
}

.nav li > a {
    color: white;
}

.nav li {
    margin-left: 84px;
}

.intro_text {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 상단에서부터 50% 위치에 배치 */
    left: 50%; /* 왼쪽에서부터 50% 위치에 배치 */
    width: 100%; /* 너비를 부모 컨테이너의 100%로 설정 */
    transform: translate(-50%, -50%); /* 자기 크기의 반만큼 X축과 Y축으로 오프셋 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.intro_text > h1,
.intro_text > h4 {
    color: #fff;
}

.amount {
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: white;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.amount > li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 132px;
}

.amount > li:not(:last-child) > div {
    border-right: 1px solid #E1E1E1;
}

.amount > li > div {
    width: 100%;
    text-align: center;
    height: 57px;
}


/* main_text0 */
.main_text0 {
    width: 100%;
    height: 601px;
    background: #f1f2f3;
    margin-top: -132px;
}

.main_text0 > h1 {
    margin-top: 116px;
    text-align: center;
}

.main_text0 > .contents1 {
    text-align: center;
}

.icons {
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}

.icons > li {
    flex: 1;
    height: 302px;
    background: wheat;
    margin-top: 49px;
}

.icons > li:not(:last-child) {
    margin-right: 20px;
}